<div class="foot">
    <p>made with love by uday kiran</p>
    <p>© Uday Kiran.</p>
    <div class="icons">
        <a href="#">twitter</a>
        <a href="#">linked In</a>
        <a href="#">email</a>
    </div>
</div>

</body>
</html>